# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
venv/
env/
.venv/
.env/

# Django stuff
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
local_settings.py

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Migrations (optional — hapus kalau mau commit migrations)
*/migrations/__pycache__/
*/migrations/*.py
